@import "../../medias.css";

.mainGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;

    opacity: 0;
    transform: translateY(8px);
    animation: fadeUp 400ms ease forwards;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.topActions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 24px;
}

.statsRow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    gap: 20px;
    width: 100%;
}

.bottomSection {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 24px;
}

@media (max-width: 840px) {
    .bottomSection {
        grid-template-columns: 1fr;
    }
}
@media (--isTablet) {
    .statsRow {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* DUAS colunas */
        gap: 20px;
        width: 100%;
    }
}

.statsFlex {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.statsAndTipGrid {
    display: grid;
    grid-template-columns: minmax(833px, 1fr) minmax(150px, 1fr);
    gap: 16px;
}


.tips {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media (--isLowDesktop) {
    .statsAndTipGrid {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        width: auto;
        max-width: 100%;
    }
}

@media (--isTablet) {
    .statsAndTipGrid {
        display: flex;
        flex-direction: column;
    }

}

@media (--isMobile) {
    .tips {
        flex-direction: column;
    }
}
