.containerEssays {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: flex;
    flex: 1  ;
    gap: 32px;
    flex-wrap: wrap;
}

.containerSkeleton {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    align-items:center;
}

.skeleton {
    border-radius: 16px;
}

