@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

@custom-variant dark (&:is(.dark *));

:root {
  --blue-1: #f0f9ff;
  --blue-2: #e0f2fe;
  --blue-3: #bae6fd;
  --blue-4: #7dd3fc;
  --blue-5: #38bdf8;
  --blue-6: #0ea5e9;
  --blue-7: #0284c7;
  --blue-8: #0369a1;
  --blue-9: #0070f3;  /* Cor principal */
  --blue-10: #0060d6; /* Hover */
  --blue-11: #0050b8;
  --blue-12: #00408f;
  --accent-a1: var(--blue-a1);
  --accent-a2: var(--blue-a2);
  --accent-a3: var(--blue-a3);
  --accent-a4: var(--blue-a4);
  --accent-a5: var(--blue-a5);
  --accent-a6: var(--blue-a6);
  --accent-a7: var(--blue-a7);
  --accent-a8: var(--blue-a8);
  --accent-a9: var(--blue-a9);
  --accent-a10: var(--blue-a10);
  --accent-a11: #0b64f4;
  --accent-a12: var(--blue-a12);

  --black-1: #171717;
  --black-2: #242424;
  --black-3: #303030;
  --black-4: #3d3d3d;
  --black-5: #4a4a4a;
  --black-6: #565656;
  --black-7: #636363;
  --black-8: #737373;
  --black-9: #808080;
  --black-10: #8d8d8d;
  --black-11: #999999;
  --black-12: #a6a6a6;

  --background-gray-default: #f6f7f8;

  --general-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.10);
  --card-common-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-default: var(--font-crimson-text);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --blue-1: #f0f9ff;
    --blue-2: #e0f2fe;
    --blue-3: #bae6fd;
    --blue-4: #7dd3fc;
    --blue-5: #38bdf8;
    --blue-6: #0ea5e9;
    --blue-7: #0284c7;
    --blue-8: #0369a1;
    --blue-9: #0b64f4;  /* Cor principal */
    --blue-10: #0060d6; /* Hover */
    --blue-11: #0050b8;
    --blue-12: #00408f;
  }
}

body {
  font-family: "Inter", "sans-serif" !important;
}

* {
  font-family: "Inter", "sans-serif" !important;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/* setup de background radix theme */
.radix-themes:where([data-is-root-theme="true"]) {
  background-image:
  linear-gradient(to right, rgba(229,231,235,0.8) 1px, transparent 1px),
  linear-gradient(to bottom, rgba(229,231,235,0.8) 1px, transparent 1px),
  radial-gradient(circle 500px at 20% 100%, var(--blue-a4), transparent),
  radial-gradient(circle 500px at 100% 80%, var(--blue-a4), transparent);
  background-size: "48px 48px, 48px 48px, 100% 100%, 100% 100%";
  background-color: var(--background-gray-default);
}

/* setup de avatar padronizado */
.rt-AvatarRoot.rt-r-size-3 {
  .rt-AvatarFallback {
    font-size: 14px;
  }
}

.rt-BaseButton:where(.rt-variant-outline) {
  box-shadow: none;
}

/* Change avatar */
.rt-AvatarFallback {
  ::before {
    content: '';
    width: 8px;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: 0;
    color: #222;
    background-color: var(--success-text);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
