@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

:root {
  --background: 210 20% 98%;
  --foreground: #171717;
  --blue-1: #f0f9ff;
  --blue-2: #e0f2fe;
  --blue-3: #bae6fd;
  --blue-4: #7dd3fc;
  --blue-5: #38bdf8;
  --blue-6: #0ea5e9;
  --blue-7: #0284c7;
  --blue-8: #0369a1;
  --blue-9: #0070f3;  /* Cor principal */
  --blue-10: #0060d6; /* Hover */
  --blue-11: #0050b8;
  --blue-12: #00408f;
  --accent-a1: var(--blue-a1);
  --accent-a2: var(--blue-a2);
  --accent-a3: var(--blue-a3);
  --accent-a4: var(--blue-a4);
  --accent-a5: var(--blue-a5);
  --accent-a6: var(--blue-a6);
  --accent-a7: var(--blue-a7);
  --accent-a8: var(--blue-a8);
  --accent-a9: var(--blue-a9);
  --accent-a10: var(--blue-a10);
  --accent-a11: #0b64f4;
  --accent-a12: var(--blue-a12);

  --black-1: #171717;
  --black-2: #242424;
  --black-3: #303030;
  --black-4: #3d3d3d;
  --black-5: #4a4a4a;
  --black-6: #565656;
  --black-7: #636363;
  --black-8: #737373;
  --black-9: #808080;
  --black-10: #8d8d8d;
  --black-11: #999999;
  --black-12: #a6a6a6;

  --general-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.10);
  --card-common-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-default: var(--font-crimson-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --blue-1: #f0f9ff;
    --blue-2: #e0f2fe;
    --blue-3: #bae6fd;
    --blue-4: #7dd3fc;
    --blue-5: #38bdf8;
    --blue-6: #0ea5e9;
    --blue-7: #0284c7;
    --blue-8: #0369a1;
    --blue-9: #0b64f4;  /* Cor principal */
    --blue-10: #0060d6; /* Hover */
    --blue-11: #0050b8;
    --blue-12: #00408f;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", "sans-serif" !important;
}

* {
  font-family: "Inter", "sans-serif" !important;
}
