.containerHeaderDefault {
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.containerHeader {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.buttonBack {
    margin-top: 6px;
}
