.button-default {
    cursor: pointer;
    font-family: "Inter", "sans-serif" !important;
    font-size: 14px;

    &:hover {
        .iconAnimation {
            transition: all 0.2s linear;
            transform: translateX(4px);
        }
    }
}

.button-default.rt-variant-ghost {
    color : var(--blue-9);
}

.button-default.rt-variant-surface {
    color : var(--black-3);
}
