@import '../app/medias.css';

.containerPageComponent {
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 64px;
    width: 100%;
}

.delimited {
    max-width: 1330px;
}

@media (--isLowDesktop) {
    .containerPageComponent {
        padding: 20px 20px;
    }
}
