.listDisc {
    color: var(--color-gray-800);
    display: flex;
    list-style: disc;
    flex-direction: column;
    gap: 8px;
}

.title {
    margin-bottom: 8px;
    color: var(--color-gray-800);
}

.listItem {
    display: list-item;
    list-style: disc inside;

    &::marker{
        color: var(--blue-10);
    }
}
