@import '../app/medias.css';

.navigationContainer {
    max-width: 1300px;
    margin: 0 auto;
    padding: 14px 20px 0 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (--isMobile) {
    .navigationContainer {
        padding: 20px 20px 10px 20px;
    }
}

.moved {
    box-shadow: var(--shadow-1) !important;
}

.menuList {
    display: flex;
    gap: 48px;
    & > * {
        color: var(--black-3);
        list-style: none;
    }

    & > li > button {
        cursor: pointer;
        transition: all 0.3s ease-out;
        font-size: 14px;
        font-weight: 500;

        &:hover {
            background: none;
            color: var(--color-black);
        }

    }

    & > li {
        list-style: none;
    }

    :global(button.active) {
        background-color: var(--blue-a3) !important;
        color: var(--color-blue-600) !important;
        transition: all 0.3s ease-out;
        position: relative;
    }

    :global(button.active)::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 1px;
        width: 50%;
        margin-left: 25%;
        height: 2px;
        border-radius: 8px;
        background-color: var(--color-blue-600);

        transform: scaleX(0);
        transform-origin: center;
        animation: underline-grow 0.35s ease-out forwards;
    }
}

@keyframes underline-grow {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

.containerPageComponent {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background: var(--background-gray-default);
    border-bottom: 1px solid var(--accent-a3);
    padding-bottom: 12px;
}


.logoContainer {
    cursor: pointer;
}

.userContainer {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 16px;
    position: relative;
}

.userScore {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--color-orange-900);
    padding: 4px 8px;
    border-radius: 8px;

    & > * {
        font-size: 8px;
    }

    position: absolute;
    right: 340%;
}

.avatar {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 5px;
        right: -4px;
        transform: translate(-50%, 50%);
        border: 2px solid var(--color-white);
        width: 10px;
        height: 10px;
        z-index: 100;
        border-radius: 100%;
        background-color: var(--color-green-600);
    }
}

.rankingBadge {
    position: absolute;
    right: 140%;
}
