.cardTip {
    background: var(--blue-a2);
    border: 1px solid var(--blue-a5);

    --card-border-width: 0 !important;
    box-shadow: 0 0 0 0 transparent !important;
}

.cardTipBox {
    box-shadow: none !important;
}
