.loginInputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.forgotPassword {
    text-align: right;
    margin-top: 12px;
}

.buttonContainer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btnLogin {
    width: 100%;
}

.recoverPasswordMessage {
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttonRecoverPasswordContainer {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btnRecoverPassword {
}
